////
/// @_guide
////

html {
  background: #6a6c6a;
}
.guide_container {
  box-sizing: border-box;
  padding-left: 224px;
  h1 {font-size: 15px; margin-top: 10px; margin-bottom: 30px;font-weight: 400}
  .columns {
    float: left;
    &.menu {
      position: fixed;
      left:0;
      color: #fff;
      width: 224px;
      height: 100%;
      padding: 20px;
      font-size: 12px;
      a:link, a:visited {color: #fff;text-decoration: none}
      a:hover {color: #fff;text-decoration: underline}
    }
    &.contents {
      background: #fff;
      width: 100%;
      padding: 20px;
      h2 {font-size: 40px;font-weight: 700; margin-bottom: 10px; margin-top: 80px;}
      h3 {font-size: 18px;font-weight: 700; margin-bottom: 0; margin-top: 30px}
    }
  }
}

//grid
.grid {
  padding: 1%;
  background-color: #f6f7f8;
  .row{
    padding: 5px;
    font-size: 11px;
    .box {
      background-color: #e4e5e7;
      color: #767779;
      padding: 3px;
      text-align: center;
      min-height: 18px;
      .box-nested {
        background-color: #c5c6c8;
        color: #767779;
        padding: 3px;
        text-align: center;
        min-height: 18px;
      }
    }
    .box-large {
      padding: 1rem;
      background-color: #e4e5e7;
    }
  }
}

//TABLE
.guide_table {
  padding: 10px 0 0 0;
}

.guide_icons {
  border-radius: 5px;
  padding: 10px;
  border: 1px #C5C5C5 solid;
  text-align: center;
  .iconText {
    text-align: center;
    display: block;
  }
}