////
/// @icons
////

$font-path:        "resource/fonts" !default;
$font-size-base:   14px !default;
$line-height-base: 1 !default;
$css-prefix:       "icons" !default;
$border-color:     #eee !default;
$inverse:          #fff !default;
$li-width:         (30em / 14) !default;

@font-face {
  font-family: 'iconset';
  src:    url('#{$font-path}/iconset.eot?2ysad1');
  src:    url('#{$font-path}/iconset.eot?2ysad1#iefix') format('embedded-opentype'),
  url('#{$font-path}/iconset.ttf?2ysad1') format('truetype'),
  url('#{$font-path}/iconset.woff?2ysad1') format('woff'),
  url('#{$font-path}/iconset.svg?2ysad1#iconset') format('svg');
  font-weight: normal;
  font-style: normal;
}

$icons-nav_right: "\e900";
$icons-search: "\e901";
$icons-table_dropdown: "\e902";
$icons-check: "\e903";
$icons-dropdown: "\e904";
$icons-nav_left: "\e905";


.#{$css-prefix}-nav_right:before { content: $icons-nav_right; }
.#{$css-prefix}-search:before { content: $icons-search; }
.#{$css-prefix}-table_dropdown:before { content: $icons-table_dropdown; }
.#{$css-prefix}-check:before { content: $icons-check; }
.#{$css-prefix}-dropdown:before { content: $icons-dropdown; }
.#{$css-prefix}-nav_left:before { content: $icons-nav_left; }


.#{$css-prefix} {
  display: inline-block;
  font: normal normal normal #{$font-size-base}/#{$line-height-base} iconset;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.#{$css-prefix}-spin {
  -webkit-animation: icons-spin 2s infinite linear;
  animation: icons-spin 2s infinite linear;
}

@-webkit-keyframes icons-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@keyframes icons-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.#{$css-prefix}-2x { font-size: 2em; }
.#{$css-prefix}-3x { font-size: 3em; }
.#{$css-prefix}-4x { font-size: 4em; }
.#{$css-prefix}-5x { font-size: 5em; }
.#{$css-prefix}-6x { font-size: 6em; }


@mixin icon-rotate($degrees, $rotation) {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=#{$rotation});
  -webkit-transform: rotate($degrees);
  -ms-transform: rotate($degrees);
  transform: rotate($degrees);
}
.#{$css-prefix}-rotate-90  { @include icon-rotate(90deg, 1);  }
.#{$css-prefix}-rotate-180 { @include icon-rotate(180deg, 2); }
.#{$css-prefix}-rotate-270 { @include icon-rotate(270deg, 3); }

