extends partials/layout.jade
block body
    div(class='container scrollbars')
        header(class='header')
            div(class='hamburger hamburger--arrow js-hamburger link-active')
                div(class='hamburger-box')
                    div(class='hamburger-inner')
            div(class='util-menu')
                span(class='icons icons-github')
            div(class='header-container')
                h1 suf
                div(class='bi-title') S-Core UI Framework는 다양한 Theme를 지원하며 마크업 위주로 작업되어 손쉬운 사용이 가능합니다.
                div(class='header-group')
                    button(type='button') Get Started
                    button(type='button') What's New in SUF 0.1
        nav
            include partials/menu-layout.jade
        article
            section(class='concept')
                div(class='concept-container row')
                    dl(class='col-4')
                        dt(class='imgset')
                        dt Cross Browser
                        dd 호완성을 위한 IE, Chrome, FF를 지원합니다.
                    dl(class='col-4')
                        dt(class='imgset')
                        dt Responsive Design
                        dd 사용자의 환경에 맞추어 유동적인 Layout를 사용합니다.
                    dl(class='col-4')
                        dt(class='imgset')
                        dt Solid Foundation
                        dd 체계화된 스타일시트 사용으로 기본 규칙과 상속에 용이합니다.
            section(class='layout')
                div(class='layout-container')
                    dl
                        dt(class='imgset')
                            img(src='resource/svg/layout.svg')
                        dt 다양한 레이아웃
                        dd 반응형웹을 통한 레이아웃을 기본으로 적용하고 있으며, 다양한 경우의 화면을 제공합니다.
            section(class='module')
                div(class='module-container')
                    dl
                        dt Sass 통한 CSS 모듈화
                        dd 스타일 전처리기로 Sass를 사용하고 있으며, <br /> Sass의 모듈화된 Style을 직접 수정하고 추가 관리할 수 있습니다.
            section(class='lab')
                div(class='lab-container')
                    p(class='imgset')
                        img(src='resource/svg/lab.svg')
                    p SUF는 다양한 UI를 실험하며 연구합니다. <br /> 직접 의견을 제출할 수 있고 함께 참여할 수 있습니다.
                    button SUF Lab
        footer
            div(class='score') s-core
            address Copyright ⓒ 2016 S-Core Co., Ltd.. All Right Reserved.
            div(class='suf') suf
